body {
  font-family: "Inconsolata", monospace;
}

.no-connection {
  width: 320px;
  height: 600px;
  border: 1px solid #667eea;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  margin: 20px auto;
  position: relative;
  border-radius: 6px;
}

.no-connection-avatar {
  background-image: url("https://uploads.codesandbox.io/uploads/user/e1a5f60d-6e78-4e48-a3b8-f07b232c8e02/XMEN-undraw_welcome_3gvl1.svg");
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  background-size: 100%;
  margin: 160px auto 0;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 23px;
  margin-top: 30px;
  color: #ffeb3b;
}

p {
  font-size: 14px;
  width: 80%;
  margin: 15px auto;
  color: #fff;
  opacity: 0.8;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  margin: 25px 15px;
}

.hamburger-menu span {
  display: inline-block;
  background-color: #fff;
  height: 3px;
  width: 19px;
  margin-bottom: 3px;
  border-radius: 6px;
}

.hamburger-menu .line-2 {
  width: 10px;
}

.hamburger-menu .line-3 {
  width: 15px;
}
